AddType application/wasm .wasm

<FilesMatch "\.wasm$">
  ForceType application/wasm
</FilesMatch>

<IfModule mod_headers.c>
  <FilesMatch "\.wasm$">
    Header set Content-Type "application/wasm"
  </FilesMatch>
  <Files "index.html">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
  </Files>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.html
</IfModule>

FallbackResource /index.html
ErrorDocument 404 /index.html
