/target
**/*.rs.bk
apps/web/node_modules
apps/web/dist
apps/web/*.tsbuildinfo
apps/web/coverage
apps/layouts/node_modules
apps/layouts/dist
apps/layouts/*.tsbuildinfo
apps/layouts/coverage
.DS_Store
.demos/
testdata/*.dem
testdata/*.bin
.env

